@import url('https://fonts.googleapis.com/css?family=Roboto');

:global body {
  margin: 0;
  padding: 0;
  font-family: roboto;
  overflow: hidden;
}

:global html,:global body,:global #root {
  height: 100%;
  width: 100%;
}

